
.responsive-table{
  overflow-x: auto;
}
.results{
  width: 30rem;
  border-collapse: collapse;
  white-space: nowrap;
  tbody tr:nth-child(even) {background: #dedede}
}
  .results__caption{
    text-align:left;
    font-size:.8rem;
    font-style: italic;
    padding-bottom:1.4rem;
  }
  .results__header{
    background: #333;
    color: white;
    text-align: left;
    padding:.25rem .3rem;
    font-size:.8rem;
  }
  .results__number{
    text-align:right;
    font-family: monospace;
  }
  .results__evolution{
    display: inline-block;
    width:3.5rem;
    font-size:.6rem;
    text-align: left;
    color:red;
  }
  .results__evolution--positive{
    color:rgb(32, 236, 52);
  }
  .results__button{
      background:transparent;
      color:#222222;
      border:0;
      outline:0;
      text-decoration: underline;
      font-family: 'Quicksand', sans-serif;
      cursor: pointer;
      &:hover{
        text-decoration: none;
        color:#000;
      }
      &:focus{
        outline: 3px solid red;
      }
  }
