@import 'normalize';
@import 'base';
@import 'helpers';
@import 'spinner';
@import 'results';
@import 'country';

body{
  font-family: 'Quicksand', sans-serif;
  color:#222222;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(4,4,70,1) 0%, rgba(124, 211, 228, 1) 100%);
}

.wrapper{
  width:100%;
  max-width:50rem;
  margin:0 auto;
  background:#ffffff;
  background: rgba(255,255,255,.95);
  min-height:100%;
  padding:.5rem 1.5rem;
}

main{
  padding-top:1.4rem;
}
